body {
    background-color: seagreen;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}

h2 {
    text-align: center;
}

h2, h4 {
    font-family: 'Indie Flower', cursive;
}

h4 {
    font-size: larger;
}

li {
    font-family: 'Roboto Mono', monospace;
}

#episode {
    width: auto;
}

#season-btn {
    border-radius: 6px;
    background-color: white;
    border-color: black; 
}

#season-btn:hover {
    background-color: seagreen;
    color: white;
    border-color: black;
    border-radius: 6px;
}

#episode-btn {
    border-radius: 6px;
    background-color: white;
    border-color: black; 
}

#episode-btn:hover {
    background-color: seagreen;
    color: white;
    border-color: black;
    border-radius: 6px;
}

.character-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

